@model D6TWO_Model.OrderTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShaoppingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShaoppingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributionDealer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributionDealer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatelyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatelyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTransfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTransfer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
